<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/img/pluma300.png"></a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ><i class="navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto align-items-center">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#servicios">Servicios</a>
          </li>
          <li>
            <a href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>