<section id="servicios">
    <h2>¿Qué puedo hacer por ti?</h2>
    <div class="row justify-content-center">
        <div class="servicio col-10 col-sm-5 col-md-3">
            <h4>Corrección ortotipográfica</h4>
            <p>Elimina errores de gramática, ortografía, puntuación y uso de recursos tipográficos como las negritas y cursivas. No se fija en los problemas expresivos, que pertenecen al ámbito de la corrección de estilo.</p>
        </div>
        <div class="servicio col-10 col-sm-5 col-md-3">
            <h4>Corrección de estilo</h4>
            <p>Elimina repeticiones, corrige las oraciones inconclusas o ambiguas, mejora la fluidez. Busca pulir el texto, siempre respetando el estilo del autor. Incluye corrección ortotipográfica.</p>
        </div>
        <div class="servicio col-10 col-sm-5 col-md-3">
            <h4>Maquetación</h4>
            <p>Estandariza el formato de tu texto y lo prepara para su publicación digital (en formatos epub, mobi y/o pdf) o física.</p>
        </div>
    </div>
</section>
